.footer {
    height: 146px;
    background-color: #17191C;
}

.footer__content {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
}

.footer__hr {
    min-width: 1142px;
    height: 4px;
    color: #fff;
    opacity: 10%;
}

.logo--footer {
  display: inline-flex;
}

.menu--footer {
  display: inline-flex;
}

.menu__item--footer {
  margin-right: 50px;
}

.menu__item--footer:last-child {
  margin-right: 0px;
}

.social {
  display: inline-flex;
  display: flex;
}

.social__item {
    margin-right: 5px;
    display: inline-flex;
}

.social__item:last-child {
    margin-right: 0;
}

.social__link {
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.social__item--tg .social__link {
    background-image: url(../img/tg.png);
}

.social__item--tg .social__link:hover {
    background-image: url(../img/tg-hover.png);
}

.social__item--vk .social__link {
    background-image: url(../img/vk.png);
}

.social__item--vk .social__link:hover {
    background-image: url(../img/vk-hover.png);
}

.social__item--fb .social__link {
    background-image: url(../img/fb.png);
}

.social__item--fb .social__link:hover {
    background-image: url(../img/fb-hover.png);
}

.social__item--in .social__link {
    background-image: url(../img/in.png);
}

.social__item--in .social__link:hover {
    background-image: url(../img/in-hover.png);
}

.contacts--footer {
    padding: 0;
}

.contacts__desc {
    color: #9A9A9A;
    font-size: 11px;
    line-height: 20px;
}
