.menu__item {
  display: inline-block;
}

.menu {
  display: inline-block;
  margin-left: 241px;
}

.contacts {
  display: inline-block;
  float: right;
  text-align: right;
  padding-top: 30px;
}

.logo_header {
  margin-top: 26px;
}

.menu__item {
  margin-right: 54px;
}

.menu__link {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}

.menu__link:hover {
  color: #FF3D00;
  -webkit-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.contacts__phone {
  font-weight: 400;
  font-size: 26px;
  color: #fff;
  line-height: 35.41px;
}
.contacts__schedule {
  color: #FF3D00;
  text-decoration: underline;
  right: 0;
  font-size: 13px;
  line-height: 20px;
  margin-top: -6px;
}

.welcome {
  max-width: 776px;
  text-align: center;
  margin: 0 auto;
  margin-top: 155px;
  margin-bottom: 250px;
}

.welcome__title {
  font-size: 72px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
}

.welcome__text {
  font-weight: 400;
  font-size: 18px;
  margin-top: 17.5px;
  margin-bottom: 56px;
  color: #fff;
}
