.slider-news {
  margin-top: 150px;
}

.new {
  margin-bottom: 57px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news__title {
  font-weight: 800;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 51px;
}

.new__item {
  width: 555px;
  display: inline-flex;
  vertical-align: top;
  position: relative;
}

.new__item:last-child {
  margin-right: 0;
}

.new__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.new__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 26px 32px;
  min-height: 140px;
}

.new__date {
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 12.5px;
}

.new__title {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 4px;
}

.new__description {
  font-weight: 400;
  font-size: 16px;
}

.pager {
  text-align: center;
  margin-bottom: 144px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.pager__count, .pager__numbers, .pager__number {
  display: inline-flex;
}

.pager__count {
  margin-right: 16px;
  font-size: 16px;
  font-weight: 400;
}

.pager__link {
  display: block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  line-height: 32px;
}

.pager__link:hover {
  background-color: #FF5500;
  color: #fff;
}

.pager__number--active .pager__link {
  background-color: #FF5500;
}
